
[*]

# ReSharper properties
resharper_cpp_align_multiline_argument = false
resharper_cpp_align_multiline_parameter = false
resharper_cpp_keep_blank_lines_in_code = 1
resharper_cpp_keep_user_linebreaks = false
resharper_cpp_max_enum_members_on_line = 1
resharper_cpp_max_line_length = 150
resharper_cpp_place_simple_blocks_on_single_line = true
resharper_cpp_wrap_before_ternary_opsigns = false
resharper_function_declaration_return_type_style = on_single_line
resharper_function_definition_return_type_style = on_single_line
resharper_indent_goto_labels = false
resharper_indent_switch_labels = true
resharper_keep_existing_enum_arrangement = false
resharper_line_break_after_colon_in_member_initializer_lists = on_single_line
resharper_line_break_after_deref_in_trailing_return_types = on_single_line
resharper_line_break_after_init_statement = on_single_line
resharper_line_break_before_deref_in_trailing_return_types = on_single_line
resharper_line_break_before_function_try_block = line_break
resharper_line_break_before_requires_clause = on_single_line
resharper_member_initializer_list_style = on_single_line
resharper_namespace_indentation = none
resharper_place_namespace_definitions_on_same_line = true
resharper_simple_embedded_statement_style = line_break
resharper_toplevel_function_declaration_return_type_style = on_single_line
resharper_toplevel_function_definition_return_type_style = on_single_line
resharper_wrap_braced_init_list_style = chop_if_long

# ReSharper inspection severities
resharper_cpp_enforce_do_statement_braces_highlighting = warning
resharper_cpp_enforce_for_statement_braces_highlighting = warning
resharper_cpp_enforce_if_statement_braces_highlighting = warning
resharper_cpp_enforce_nested_namespaces_style_highlighting = suggestion
resharper_cpp_enforce_overriding_destructor_style_highlighting = warning
resharper_cpp_enforce_overriding_function_style_highlighting = warning
resharper_cpp_enforce_while_statement_braces_highlighting = warning
resharper_cpp_member_initializers_order_highlighting = warning
resharper_cpp_remove_redundant_braces_highlighting = hint
resharper_cpp_wrong_slashes_in_include_directive_highlighting = suggestion
