/ctsTraffic/Debug
/ctsTraffic/Release
/ctsTraffic/x64
/Debug
/Release
/x64
/MSTest/*/Debug
/MSTest/*/Release
/MSTest/*/x64
/ctsPerf/Debug
/ctsPerf/Release
/ctsPerf/x64
/ctsPerf/Performance.csv
*.db
*.ipch
*.opendb
*.user
*.sdf
*.aps
/ctsTraffic/.vs
/.vs
/MSTest/Debug
/ctsPerf/*.csv
/MSTest/Release
/ctsPerf/ARM/Release
/ctsTraffic/ARM/Release
/ARM
/ctsPerf/ARM/Debug
/ctsTraffic/ARM/Debug
