/ctsTraffic/.vs
/ctsTraffic/Debug
/ctsTraffic/Release
/ctsTraffic/x64
/ctsTraffic/ARM
/ctsTraffic/ARM64
/Debug
/Release
/x64
/ARM64
/MSTest/Debug
/MSTest/Release
/MSTest/*/Debug
/MSTest/*/Release
/MSTest/*/x64
/ctsPerf/Debug
/ctsPerf/Release
/ctsPerf/x64
/ctsPerf/ARM
/ctsPerf/ARM64
/ctsPerf/*.csv
/ctsPerf/ctsPerf.log
*.db
*.ipch
*.opendb
*.user
*.sdf
*.aps
/.vs
/ARM
/ctsTraffic/ctsTraffic.log
/_ReSharper.Caches
/packages
